<div class="site-edit-inner">
  <div class="site-edit-content">
    <div class="form-header">Input your site's information</div>
    <form action="">
      <table class="table">
        <tr>
          <th>Site Name</th>
          <td><input class="form-control" type="text" name="name" placeholder="input your site's name.."></td>
        </tr>
        <tr>
          <th>Site Url</th>
          <td><input class="form-control" type="text" name="url" placeholder="input your site's url.."></td>
        </tr>
        <tr>
          <th>basic user</th>
          <td><input class="form-control" type="text" name="basic_user" placeholder="input your basic user.."></td>
        </tr>
        <tr>
          <th>basic pass</th>
          <td><input class="form-control" type="text" name="basic_pass" placeholder="input your basic password.."></td>
        </tr>
      </table>
      <p class="submit"><span class="btn btn-success">ITO!</p>
      <p class="cancel"><span class="label label-danger">orz</span></p>
    </form>
  </div>
</div>