<div class="row">
  <p class="col-md-3">
    <input type="text" name="key" class="form-control">
  </p>
  <p class="col-md-3">
    <input type="text" name="worksheetid" class="form-control">
  </p>
</div>