<table class="urls table">
  <thead>
    <tr>
      <th>url</th>
      <th>device</th>
      <th>title</th>
      <th>keywords</th>
      <th>description</th>
      <th>canonical</th>
      <th>prev</th>
      <th>next</th>
      <th>author</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>