<h2>URLS</h2>
<h3>site</h3>
<div class="sites-list"></div>
<h3>url</h3>
<p class="url-actions"><span class="input"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true">input..</span><span class="update label label-orange">update</span></p>
<div class="urls-table"></div>